__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
plex/
hello-operator.service
hello-operator-web.service
venv/

# Angular
web/angular/node_modules/
web/angular/dist/
web/angular/.angular/
web/angular/coverage/
